* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #181824;
  color: #e6e6e6;
}

.container {
  height: 200px;
  width: 390px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 60px;
  font-weight: 300;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -900px;
}

h2 {
  font-size: 2.7rem;
  font-weight: bold;
  padding-top: 8px;
  margin-bottom: -5px;
}

p {
  font-size: 1.2rem;
  width: 450px;
}

button {
  border-radius: 1.5rem;
  background-color: #E66070;
  padding: 1rem;
  width: 8rem;
  text-align: center;
  border-style: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
}

span {
  color: #E66070;
}

button:hover {
  background-color: #D84E5F;
}

.image {
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}